* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}



main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(222, 220, 218, 0.65)
}

#quiz {
  display: none;
}

#end-game {
  display: none;
}

#highscore {
  display: none;
}

#timer {
  display: none;
}

#welcome {
  font-size: 22px;
  text-align: center;
  margin-top: 1em;
}

#welcome h1 {
  color: purple;
  margin-bottom: 1em;
}

#welcome p {
  font-weight: bold;
  margin-bottom: .5em;
}

.btn {
  width: 200px;
  height: 50px;
  padding: .5rem;
  border: white solid 2px;
  border-radius: 15px;
  background-color: purple;
  color: white;
}

.btn:hover {
  border: purple solid 2px;
  background-color: white;
  color: purple;
  width: 205px;
  height: 55px;
  transition: width, height 0.2s;
  cursor: pointer;
}

.container {
  width: 80%;
  margin-top: 3em;
}

#question-title {
  margin-bottom: 1em;
}

#answer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
